 {{!-- <header class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">ZAKAZ2</a></li>
            <li><a href="/---" class="nav-link px-2 text-white">Админ панель</a></li>
            <li><a href="/adminzakaz" class="btn btn-primary">Заказы</a></li>
            </ul>
  </div>    
      <div class="text-end ms-auto">
        <span class="btn btn-outline-light me-2">{{user.username}}</span>
        <a href="/logout" class="btn btn-outline-light me-2">Выйти</a>
      </div>
    </div>
  
</header>

 --}}
<style>
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin-right: 1rem;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info span,
  .user-info a {
    margin-left: 0.5rem;
  }
</style>

<nav>
  <div class="nav-wrapper black">
    
    <ul class="nav-links">
      <li><a href="#" class="nav-link px-2 text-white">ZAKAZ2</a></li>
      
      {{!-- <li><a href="/adminzakaz" class="nav-link px-2 text-white">Заказы</a></li> --}}
    </ul>
    <div class="user-info">
      <span class="btn btn-outline-light">{{user.username}}</span>
      <a href="/logout" class="btn btn-outline-light">Выйти</a>
    </div>
  </div>
</nav>