
<header class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <div>
            <a class="nav-link px-2 text-secondary">ZAKAZ2

          </div>
        </ul>
      </div>
    </div>
  </header> 