{{> head}}

<body>

  {{#if user}}
    {{#if user.admin}}
      {{> navbarAdmin}}
    {{else}}
      {{> navbarUser}}
    {{/if}}
  {{else}}
    {{> navbar}}
  {{/if}}

  <div class="container">
    {{{ body }}}
  </div> 
  
  <script>
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, options);
    });
  </script> 

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="/toastr/toastr.min.js"></script>

</body>
</html>
