{{> head}}

<body>

  {{#if user}}
    {{#if user.admin}}
      {{> navbarAdmin}}
    {{else}}
      {{> navbarUser}}
    {{/if}}
  {{else}}
    {{> navbar}}
  {{/if}}

  <div class="container">
    {{{ body }}}
  </div> 
  
  <script src="/static/toastr/toastr.min.js"></script>


</body>
</html>
