<section class="h-100 gradient-form" style="background-color: #ffffff;">
  {{!-- <div class="container py-5 h-100"> --}}
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://prosto.education/wp-content/uploads/2023/04/24.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Х</h4>
                </div>

                <form action="/myzakaz" method="post">
       
                      <label class="form-label" for="form2Example11">Имя пользователя</label>
                      <input  type="text" name="username" class="form-control" placeholder="Username" aria-label="username" required>
                      
                      <label class="form-label" for="form2Example22">Пароль</label>
                      <input  type="password" name="password" class="form-control" placeholder="Password" aria-label="password" required>
                      

                  
                  
                  
                  {{!-- <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Phone number or email address" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div> --}}

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" >Войти</button>
                    {{!-- <a class="text-muted" href="#!">Forgot password?</a> --}}
                  </div>
                  </form>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Нет аккаунта?</p>
                    <form action = "/reg" method="get"><button type="submit" data-mdb-button-init data-mdb-ripple-init  class="btn btn-outline-danger">Создать</button>
                  </form>
                  </div>

                

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">"Этот сайт был сделан кровью и потом"</h4>
                <p class="small mb-0">Дорогой пользователь, Пожалуйста, не ругайся если найдешь какие либо некрасивые или неправильные моменты мне уже тяжело смотреть на это все но это неважно просто знай что я очень старался правда!!!! </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{!-- </div> --}}
</section>